<div data-section-id="{{ section.id }}" data-section-type="section-banner-v3" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v3">
    <div class="lazyload">
      <div class="row no-gutters"> 
        <div class=" col-banner-6 order-sm-1 {% if section.settings.select_pos =='left' %} order-md-1 {% elsif section.settings.select_pos == 'right'%} order-md-2  {% endif %}">
          <div class="box-img img-left" style="background-image: url({% if section.settings.img_banner_left != blank %} {{section.settings.img_banner_left | img_url : 'master'}} {% else %} //placehold.it/1142x600 {% endif %} )">
            <a href="{{section.settings.url_banner}}">
              {% if section.settings.img_banner_left != blank %}
              <img data-src="{{section.settings.img_banner_left | img_url : 'master' }}"  class="lazyload img-fluid w-100" alt>
              {% else %}
              <img data-src= "//placehold.it/1110x600" class="lazyload img-fluid w-100" alt>
              {% endif %}
            </a>
            <div class="banner-content">
              {% if section.settings.title_banner != blank %}
              <h3 class="title-banner" style="color: {{section.settings.color_title}}">{{section.settings.title_banner}}</h3>
              {% endif %}
              {% if section.settings.sub_title_banner != blank %}
              <p class="sub-title" style="color: {{section.settings.color_sub_title}}">{{section.settings.sub_title_banner}}</p>
              {% endif %}

              {% if section.settings.button_banner != blank %}
              <a href="{{section.settings.url_banner}}" class="button-shop" title="">{{section.settings.button_banner}}</a>
              {% endif %}

            </div>
          </div>
        </div>
        <div class=" col-banner-4 order-sm-2 {% if section.settings.select_pos =='left' %} order-md-2  {% elsif section.settings.select_pos == 'right'%} order-md-1 {% endif %}">
          <div class="box-img img-right">
            <a href="{{section.settings.url_banner}}">
              {% if section.settings.img_banner_right != blank %}
              <img data-src="{{section.settings.img_banner_right | img_url : 'master'}}" class="lazyload img-fluid w-100" alt >
              {% else %}
              <img data-src="//placehold.it/733x600" class="lazyload img-fluid w-100" alt>
              {% endif %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "BANNER V3",
  "settings": [
    {
      "type": "select",
      "id": "select_pos",
      "label": "Select Position Content",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "header",
      "content": "Settings Banner 1"
    },
    {
      "type": "image_picker",
      "id": "img_banner_left",
      "label": "Image Banner 1",
      "info": "1110 x 600px recommended"
    },
    {
      "type": "text",
      "id": "title_banner",
      "label": "Title Banner",
      "default": "Carnegie Light Armed Scone"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color Title banner",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "sub_title_banner",
      "label": "Sub Title Banner",
      "default": "Retro open basket design wall light in a black finish,<br> featuring an inner clear glass cylinder light shade."
    },
    {
      "type": "color",
      "id": "color_sub_title",
      "label": "Color Sub Title banner",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "button_banner",
      "label": "Button Banner 1",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_banner",
      "label": "URL Button",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Banner 2"
    },
    {
      "type": "image_picker",
      "id": "img_banner_right",
      "label": "Image Banner 2",
      "info": "733 x 600px recommended"
    }
  ],
  "presets": [
    {
      "name": "BANNER V3",
      "category": "HOME"
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
