<div data-section-id="{{ section.id }}" data-section-type="section-banner-v10" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v10">
    <a href="{{section.setting.url_banner}}" class="img-banner">
      {% if section.settings.img_banner != blank %}
      <img data-src="{{section.settings.img_banner | img_url : 'master'}}" class="lazyload w-100 img-fluid" alt>
      {% else %}
      <img data-src="//placehold.it/1920x410" class="lazyload w-100 img-fluid" alt>
      {% endif %}
    </a>
    <div class="content">
      <a href="https://www.instagram.com/" target="_blank">
        {% if section.settings.img_icon != blank %}
        <img data-src="{{section.settings.img_icon |img_url : 'master'}}" class="lazyload mb-3" alt>
        {% else %}
        <img data-src="//placehold.it/70x70" class="lazyload" alt>
        {% endif %}
      </a>
      {% if section.settings.title_banner != blank %}
      <h3 class="title_heading" style="color: {{section.settings.color_title}}">{{section.settings.title_banner}}</h3>
      {% endif %}
      {% if section.settings.sub_title != blank %}
      <p class="mb-0" style="color: {{section.settings.color_sub_title}}">{{section.settings.sub_title}}<p>
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "BANNER V10",
  "settings": [
    {
      "type": "header",
      "content": "setting banner"
    },
    {
    "type": "image_picker",
    "id": "img_icon",
    "label": "Icon Image",
    "info": "70 x 70px recommended"
    },
    {
      "type": "text",
      "id": "title_banner",
      "label": "Title banner",
      "default": "Alamp On Instagram"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color Title",
	  "default": "#222"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title banner",
      "default": "Your favourite styles have just dropped in new prints get them before they go!"
    },
    {
      "type": "color",
      "id": "color_sub_title",
      "label": "Color Sub Title",
	  "default": "#222"
    },
    {
      "type": "color",
      "id": "color_text_button_1",
      "label": "color text button 1"
    },
    {
      "type": "url",
      "id": "url_banner",
      "label": "URL banner",
      "default": "/collections/all"
    },
    {
      "type": "image_picker",
      "id": "img_banner",
      "info": "1920 x 410px recommended",
      "label": "Image Banner"
    }
  ],
  "presets": [
    {
      "name": "BANNER V10",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
